<div class="container-fluid">
  <div class="row">

        <%= render "shared/search_form", target: users_path, search: @search %>

  </div>
  <br>
  <hr>
        <%= render "shared/data_table", objects: @users, search: @search %>
</div>
